{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {{ block "title" . }}
        Lantern
        {{ end }}
    </title>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/colorscheme.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/player.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet">
    {{ block "style" . }}
    {{ end }}
</head>

<body class="min-h-[120vh]">
    {{template "nav" . }}
    <main class="p-8 pb-28">
        {{block "content" .}}
        {{ end }}
    </main>
    <script type="module" src="/static/js/utils.js"></script>
    {{template "player" .}}
    {{block "scripts" .}}
    {{end}}
</body>

</html>
{{ end }}
